/*GLOBAL*/

body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
  letter-spacing: .2em;
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 30px;
  color: black;
  text-shadow: 2px 2px 3px  #BD9174;
  /*color: rgb(58, 84, 100);*/
}

/*KEYFRAMES*/

/*@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes move-left {
    from {opacity: 0; right: 400px;}
    to {opacity: 1; right: 0px;}
}

@keyframes move-right {
    from {opacity: 0; left: 400px;}
    to {opacity: 1; left: 0px;}
}*/


video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/title-bg-mobile.png) no-repeat;
    background-size: cover;
}

.menu-icons {
  position:absolute;
  bottom: 50px;
}




.title-wrapper {
  height: 100vh;
  /*background-image: url(../img/title-bg.gif);*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title-container {
  margin-top: 200px;
  background-color: rgba(255,255,255,.4);
  width: 50%;
  /*background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,.7) 0%,rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,.7) 0%,rgba(255,255,255,0) 100%); */
  float: right;
}

.title-container p {
  text-align: center;
  margin: auto;
  padding: 60px 50px;
  width: 70%;
  font-size: 36px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  /*text-shadow: 3px 3px 3px  #000;*/

  letter-spacing: .075em;
  line-height: 1.4em;
}

.title-container span {
  font-size: 20px
}


.skills-wrapper {
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 100px;
}

.skills-container h1 {
  margin-bottom: 30px;
  margin-top: 50px;
}

.skills {
  text-align: center;
  width: 90%;
  margin: auto;
  display: none;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  padding-top: 30px;
}


.skills img {
  height: 100px;
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.skills img:hover {
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
}

.skills li {
  vertical-align: top;
  margin-bottom: 20px;
  animation: slide-up 3s;
  padding-top: 10px;
}

@keyframes slide-up {
  from { opacity: 0; line-height: 500px;}
  to {opacity: 1;line-height: 25px;}
}



.project-wrapper {
  padding-top: 50px;
  background-image: url('../img/projects-bg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 100px;
}

.project-wrapper h1 {
  padding-bottom: 50px;
}

#project {
  width: 95%;
  margin: auto;

}

/*.project-wrapper h1 {
  color: white;
  text-shadow: 2px 2px #000;
}*/

.project-container h2 {
  text-align: center;
  font-size: 25px;
  padding: 20px 0px;
  letter-spacing: .125em;
  text-shadow: 2px 2px 2px #000;
  font-family: 'Julius Sans One', sans-serif;

}

.project-container img {
  margin: 10px 0 0 20px;
}


.project-container {
  width: 45%;
  display: inline-block;
  /*border: 2px solid black;*/
  height: 350px;
  padding: 20px;
  margin-bottom: 30px;
  /*background-color: rgba(58, 84, 100, 0.7);*/
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.46) 54%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.46) 54%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.46) 54%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  /*background-color: rgba( 255, 255, 255, 0.7);*/
  border-radius: 5px;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);

}


.project-container-right {
  float: right;
}



.project-container img {
  display: inline-block;
}

.project-text span {
  text-shadow: 1px 1px black;
}

.project-text {
  display: inline-block;
  width: 50%;
  float: right;
  margin-top: 25px;
  line-height: 1.5em;
  word-spacing: .25em;
}

.project-technologies {
  margin-top: 20px;
}
.project-technologies span {
  font-weight: bold;
}

.project-links {
  margin-top: 20px;
}

.project-links a {
  text-decoration: none;
  color: white;
  transition: color 1s;
  text-shadow: 2px 2px 2px black;
}

.project-links a:first-child {
  border-right: 1px solid white;
  padding-right: 15px;

}

.project-links a:last-child {
  border-left: 1px solid white;
  padding-left: 15px;

}


.project-links a:hover {
  color: black;
  /*text-shadow: 1px 1px 1px black;*/

}


.gallery-wrapper {
  margin-bottom: 100px;
}

.gallery-wrapper h1{
  margin-top: 40px;

}

.gallery-wrapper h4 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.gallery-wrapper a {
  text-decoration: none;
  color: lightblue;
  font-weight: bold;
  transition: 0.2s border;
}

.gallery-wrapper a:hover {
  transition-delay: .2s;
  border-bottom: 2px solid black;
  color: black;
}


.slide-box-carousel {
  margin: auto;
}



.about-wrapper {
  clear: right;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(239,235,223, .6);

}

#about {
  width: 90%;
  margin: auto;
  background-image: url('../img/contact.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20px;
}

.about-container {
  width: 90%;
  margin: auto;

}

.about img {
  margin-left: 30px;
}

.about-text{
  display: inline-block;
  margin-left: 40px;
  padding: 40px 40px;
  vertical-align: top;
  width: 50%;
  font-family: 'Poppins', sans-serif;
  line-height: 2em;
  word-spacing: .2em;
  /*animation: fadein 7s;*/
  background-color: rgba(255,255,255,0.2);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.5);
  box-shadow: 1px 2px 2px rgba(0,0,0,.5);
}


.resume a{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  background-color: rgba(255,255,255, .3);
  padding: 10px 40px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  transition: 0.5s border-color, 0.5s background-color;
  box-shadow: 1px 2px 2px rgba(0,0,0,.5);

}

.resume a:hover {
  background-color: white;
  border-color: white;
  transition-delay:.4s;
}

.contact-wrapper {
  background-image: url('../img/contact.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.contact-container {
  width: 60%;
  margin: auto;
  padding-top: 100px;
}

.contact-text h1 {
  margin-bottom: 15px;
  padding-top: 20px;
}


.contact-text {
  background-color: rgba(255,255,255,.3);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  padding: 20px 60px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 1.7em;
}

.contact-text p {
  padding: 20px 0 30px;
}


.contact-text p a {
  border: none;
  padding: 0;
  /*background-color: white;*/
  color: black;
  transition: 0.2s border;
  text-decoration: none;
}

.contact-text p a:hover {
  transition-delay: .2s;
  border-bottom: 2px solid black;
}

.icons a {
  text-decoration: none;
  color: black;
  padding: 0px 10px 50px 10px;
  transition: 0s filter;
}

.icons a:hover {
  transition-delay:.2s;
  filter: invert(100%);

}



@media only screen and (max-width: 900px) {

  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 28px;
    padding-top: 0px;

  }

  /*video {
    display: none;
  }*/


  /*.title-wrapper {
    background: url('../img/title-bg-mobile.png') no-repeat;
  }*/


  .title-container {
    margin-top: 150px;
    width: 100%;
  }

  .title-container p {
    width: 80%;
    font-size: 26px;
  }


  .skills-wrapper  {
    margin-top: 0;
  }



  .skills {
    columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  }

  .skills li {
    animation: none;
    padding-top: 20px;
  }

  .skills img {
    height: 70px;
  }


  .project-wrapper h1 {
    padding-bottom: 0;
  }

  .project-container {
    margin-left: 15px;
    margin-bottom: 40px;
    height: 550px;
    width: 80%;
    animation: none;
    text-align: center;
    float: none;

  }

  .project-container h2 {
    font-size: 20px;
  }

  .project-container p {
    font-size: 16px;
  }

  .project-container-right {
    float: none;
  }

  .project-text {
    width: 100%;
    float: none;
  }

  .project-container img {
    margin: 0;
  }

  .slide-box-carousel {
    width: 70%;
 }


  .gallery-wrapper h1 {
    margin-top: 40px;
  }

  .gallery-wrapper h4 {
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.4em;
  }

  .about-container img {
    padding-bottom: 20px;
    width: 60%;
    margin: auto;
  }

  .about-text {
    width: 80%;
    margin: auto;
    animation: none;
    font-size: 14px;
    padding: 30px;
  }

  .contact-wrapper {
    height: 100vh;
  }

  .contact-container {
    width: 90%;
    padding-top: 150px;
  }

}
